# Gitkeep
!.gitkeep

# Nodejs files
node_modules
package-lock.json

# Config files
config

# Database file
*.db

# Tencent files
data/oicq

# Setu files
/data/images/setu/r17/*
/data/images/setu/r18/*